.loginPage {
    width: 100%;
  }
  
  .loginContainer {
    flex-direction: column;
    align-items: end;
    width: 100%;
    min-height: 950px;
    padding: 89px 80px 221px;
    display: flex;
    position: relative;
  }
  
  .backgroundImage {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }
  
  .contentWrapper {
    width: 100%;
    max-width: 1063px;
    margin-bottom: -44px;
    position: relative;
  }
  
  .header {
    width: 100%;
  }
  
  .headerContent {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    display: flex;
  }
  
  .logoGroup {
    align-items: stretch;
    gap: 40px 62px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }
  
  .primaryLogos {
    align-items: start;
    display: flex;
  }
  
  .smallLogo {
    aspect-ratio: 1.47;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    width: 25px;
  }
  
  .mediumLogo {
    aspect-ratio: 3.86;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    width: 81px;
  }
  
  .largeLogo {
    aspect-ratio: 4.41;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    width: 75px;
  }
  
  .centerLogo {
    aspect-ratio: 4.17;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .secondaryLogos {
    align-items: stretch;
    gap: 40px 57px;
    display: flex;
  }
  
  .smallSecondaryLogo {
    aspect-ratio: 2.65;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    width: 45px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .largeSecondaryLogo {
    aspect-ratio: 1.81;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    width: 92px;
  }
  
  .mainContent {
    margin-top: 118px;
  }
  
  .contentColumns {
    gap: 20px;
    display: flex;
  }
  
  .leftColumn {
    flex-direction: column;
    align-items: stretch;
    width: 40%;
    margin-left: 0;
    line-height: normal;
    display: flex;
  }
  
  .leftImage {
    aspect-ratio: 1.11;
    object-fit: contain;
    object-position: center;
    align-self: stretch;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .rightColumn {
    flex-direction: column;
    align-items: stretch;
    width: 60%;
    margin-left: 20px;
    line-height: normal;
    display: flex;
  }
  
  .rightImage {
    aspect-ratio: 1.21;
    object-fit: contain;
    object-position: center;
    flex-grow: 1;
    width: 100%;
  }
  
  @media (width <= 991px) {
    .loginContainer {
      max-width: 100%;
      padding-bottom: 100px;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .contentWrapper {
      max-width: 100%;
      margin-bottom: 10px;
    }
  
    .headerContent {
      max-width: 100%;
    }
  
    .mainContent {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .contentColumns {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .leftColumn {
      width: 100%;
    }
  
    .leftImage {
      margin-top: 40px;
    }
  
    .rightColumn {
      width: 100%;
    }
  
    .rightImage {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  